{% extends "layout.html" %}

{% set title = "Login" %}

{% block content %}
{#
    <form class="well" action="{{ url_for('auth.authenticate')}}" method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="login-errors" class="flashes alert">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
        {% endwith %}

        <label>Email</label>
        <input id="username" name="username" type="email" class="span3">
        
        <label>Password</label>
        <input type="password" class="span3">
        <span class="help-block">not case sensitive</span>

        <label class="checkbox">
        <input id="remember" name="remember" type="checkbox">Remember password</label>

        <button type="submit" class="btn">Submit</button>


        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {%- endwith %}

        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username }}<br/>
        {{ form.password.label }} {{ form.password }}<br/>
        {{ form.remember.label }} {{ form.remember }}<br/>
        {{ form.submit }}
    </form>
#}
    {% include "_messages.html" %}
    {% include "_nav.html" %}
    <form action="{{ url_for('auth.authenticate') }}" method="POST" name="login_form">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username }}<br/>
        {{ form.password.label }} {{ form.password }}<br/>
        {{ form.remember.label }} {{ form.remember }}<br/>
        {{ form.next }}
        {{ form.submit }}
    </form>

{% endblock %}
